*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
section#home{
	background-color: E7C6FF;
	color: white;
}
.navbar{
	background-color: #3a5a40;
}
.btn{
	background-color: #3a5a40;
	color:white;
}
.nav-link{
	color: black;
	font-size: 1rem;
	font-weight: 700;
	cursor: pointer;
	text-decoration: none;
}
.nav-link:hover{
	color: white;
	background-color: black;
}
.navbar-brand{
	font-size: 1.25rem;
	font-weight: 800;
	color: black;
	cursor: pointer;
	text-decoration: none;
}

.rounded-circle{
	height: 23em;
}

.footer{
	background-color: #3a5a40;
}	
.icon{
	color: #3a5a40;
}